*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    text-shadow: #000 1px 1px;
    background-size: cover;
    background-position: center;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-image: url(../../assets/fundo_login.png); 
    }
    .containerlogin {
    background-color: #000;
    height: 200px;
    width: 200px;
    padding: 200px;


    }