*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    text-shadow: #000 1px 1px;
    }
    .App {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-image: url(assets/background.jpg);
      background-size: cover;
      background-position: center;
    }